@zebracolor: #FF5722;
@yeastcolor: #FFC107;
@humancolor: #8BC34A;
@wormcolor: #3F51B5;
@mousecolor: #00BCD4;
@ratcolor: #E91E63;
@flycolor: #9C27B0;
@spacer: 1em;

.default-shadow {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}


//for the inline svg icons
.icon {
    vertical-align: top;
    margin-top: 1px;
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

body {
    color: #333;
    background: #fff;
    font-family: "Open sans", helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine','Georgia', serif;
    font-weight:normal;
}

#app,
.approot,
body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.approot {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}

aside {
    .default-shadow;
    background: #f0f0f0;
    flex-grow: 1;
    padding: @spacer;
}

main {
    flex-grow: 3;
    padding: @spacer;
}

.statusbox {
    .icon {
      color:#fff;
      width: @spacer*2;
      height: @spacer*2;
      padding:4px;

        &.zebrafish  {
            background: @zebracolor;
        }

        &.mouse  {
            background: @mousecolor;
        }

        &.rat  {
            background: @ratcolor;
        }

        &.human  {
            background: @humancolor;
        }

        &.yeast  {
            background: @yeastcolor;
        }

        &.worm  {
            background: @wormcolor;
        }

        &.fly  {
            background: @flycolor;
        }
    }

    .status {
      display:flex;
      align-items:center;
    }

    .organism {margin-left:@spacer;}
}
