.default-shadow {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.icon {
  vertical-align: top;
  margin-top: 1px;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
body {
  color: #333;
  background: #fff;
  font-family: "Open sans", helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Domine', 'Georgia', serif;
  font-weight: normal;
}
#app,
.approot,
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
.approot {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}
aside {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background: #f0f0f0;
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 3;
  padding: 1em;
}
.statusbox .icon {
  color: #fff;
  width: 2em;
  height: 2em;
  padding: 4px;
}
.statusbox .icon.zebrafish {
  background: #ff5722;
}
.statusbox .icon.mouse {
  background: #00bcd4;
}
.statusbox .icon.rat {
  background: #e91e63;
}
.statusbox .icon.human {
  background: #8bc34a;
}
.statusbox .icon.yeast {
  background: #ffc107;
}
.statusbox .icon.worm {
  background: #3f51b5;
}
.statusbox .icon.fly {
  background: #9c27b0;
}
.statusbox .status {
  display: flex;
  align-items: center;
}
.statusbox .organism {
  margin-left: 1em;
}
.foot {
  align-self: flex-end;
}
