.default-shadow {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.icon {
  vertical-align: top;
  margin-top: 1px;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
body {
  color: #333;
  background: #fff;
  font-family: "Open sans", helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Domine', 'Georgia', serif;
  font-weight: normal;
}
#app,
.approot,
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
.approot {
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}
aside {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background: #f0f0f0;
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 3;
  padding: 1em;
}
.statusbox .icon {
  color: #fff;
  width: 2em;
  height: 2em;
  padding: 4px;
}
.statusbox .icon.zebrafish {
  background: #ff5722;
}
.statusbox .icon.mouse {
  background: #00bcd4;
}
.statusbox .icon.rat {
  background: #e91e63;
}
.statusbox .icon.human {
  background: #8bc34a;
}
.statusbox .icon.yeast {
  background: #ffc107;
}
.statusbox .icon.worm {
  background: #3f51b5;
}
.statusbox .icon.fly {
  background: #9c27b0;
}
.statusbox .status {
  display: flex;
  align-items: center;
}
.statusbox .organism {
  margin-left: 1em;
}
.searchbox {
  display: flex;
  flex-direction: column;
}
.searchbox .gene-input {
  display: flex;
  flex-direction: column;
}
.searchbox .input-organism {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchbox button {
  border: 0;
  border-radius: 2px;
  background-color: #ffc107;
  border-bottom: solid 2px #ffce3a;
  border-right: solid 2px #ffd454;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
  color: #ffffff;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.4s;
}
.searchbox button:hover {
  background: #ffce3a;
  border-bottom: solid 2px #e2aa00;
  border-right: solid 2px #ecb100;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
.searchbox button:focus {
  background: #e7ae00;
  transition: all 0.2s;
}
.foot {
  align-self: flex-end;
}
footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
